/* Base container */
.whyas {
  padding: 20px;
  background-color: #f1e8f8;
  font-family: 'Arial', sans-serif;

margin-bottom: 20px;
}

.img1{
    width: 100px;
}
.whyas1 {
  max-width: 900px;
  margin: auto;
  text-align: center;
}

/* Main heading */
.whyas2 > h1 {
  font-size: 10px;
  color: #6f6f6f;
  margin-bottom: 20px;
}

/* Brand name */
.whyast1 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #7c3fb4d6;
  margin-bottom: 30px;
}

/* Sections with hover effect */
.whyas2 {
  background-color: #ffffff;
  margin: 15px auto;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.whyas2:hover {
  transform: scale(1.02);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
}

#a{
    color: black;
}
/* Subheadings inside each section */
.whyas3 {
  font-size: 1.1rem;
  color: #444;
  margin: 5px 0;
}

#whyas{
    color: #8a2be2;
}
/* Media query for mobile responsiveness */
@media (max-width: 600px) {
  .whyas1 {
    font-size: 10px;
    padding: 10px;
    color: #6f6f6f;
  }
.whyas2{
    font-size: 20px;
}
.whyas span {
    font-size: 30px;
    margin-bottom: 20px;
}
  .whyas2 h1{
    font-size: 10px;
  }

  .whyas2 > h1,
  .whyas3 {
    font-size: 18px
  }

  .whyast1 {
    font-size:10px;
  }

  .whyas2 {
    padding: 10px;
  }
}


